body{
	background-color: #E7E7E7;
}

#content-left{
	min-height: 300px;
	/*position: fixed;*/
}

#content-left .panel-default{
	border-radius: 0px;
}

#content-left .panel-body{
	padding: 0px;
}

#content-left ul{
	list-style-type: none;
}

#content-left ul li{
	border-bottom: solid 1px #F7F9F8;
	padding-bottom: 5px;
	padding-top: 5px;
}

#content-left ul li:hover{
	background-color: #F7F9F8;
}

#content-left ul li a{
	padding: 10px;
	border-bottom: solid 1px #F7F9F8;
	text-decoration: none;
	border: none;
	color: black;
}
#content-left .panel-body ul li a i{
	color: #23ded5;
}
#content-left ul li a:hover{
	color: red;
}

/*================= CONTENT PLACE =====================*/
#content-place .thumbnail{
	min-width: 262px;
}
#content-place .thumbnail a{
	margin-top: 1px;
}
#content-place .thumbnail a img{
	margin-top: 11px;
}

#content-place{
	padding-top: 10px;
}

#content-place ul {
	
}
#content-place .item-place{
	margin-right: 65px;
	padding-left: 0px;
}

#content-place ul li{
	display: inline-table;
	color: #C1C1C1;
	padding-right: 14px;
	margin: 0px auto;
}

#content-place .thumbnail a:hover{
	opacity: 0.8;
}

#content-place .thumbnail img:hover{
	opacity: 0.5;
}

#content-place select{
	font-weight: 100px !improtant;
}

#content-place option{
	padding: 5px;
}

#sapxep-content{
	background-color: whitesmoke;
}

.nav-tabs>li>a{
	border-radius: 0px;
	/*border: solid 1px black;*/
    color: black;
}

#sapxep-content .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active{
	/*border-bottom: solid 1px red;*/
	font-weight: 700;
}

#sapxep-content .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	/*border-bottom: solid 1px red;*/
}

#sapxep-content select{ 
	width: 110px;
	overflow: hidden;
	padding: 5px;
	margin-top: 4px;	
	margin-right: 10px;
}

.fixed{
	position: fixed;
	top: 0;
	left: 420px;
	z-index: 100000;/*Hiển thị lớp trên cùng*/
	width: 820px;
	background-color: red;
	box-shadow: 10px;
}

.fixed2{
	position: fixed;
	top: 0;
	z-index: 100000;/*Hiển thị lớp trên cùng*/
}

.tab-content .panel-place .panel{
	background-color: transparent;
	border: none;
	border-radius: 0px;
}

.tab-content .panel-place .panel-default{
	border-color: transparent;
}
/*================= CONTENT PLACE =====================*/