#footer-top{
	height: 35px;
	max-height: 55px;
	margin-bottom: 0px;
	border: none;
	background-color: #09bd8f; 
}

#footer-top ul li a{
	padding: 7px;
	color: white;
}
#footer-top ul li a:hover{
	color: black;
	background-color: transparent;
}

#footer-top .right-top{
	float: right;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}




/*=============================SELECT TINH TP, DANH MUC=============================*/
#form-select a{
	padding: 6px;
	border: solid 1px;
	margin: 10px;
	min-width: 150px;
}
#TinhTp{
	border-radius: 0px;
	padding: 0px;
	width: 250px;
	height: 250px;
	overflow-y:scroll;
}
#TinhTp .panel-body{
	padding: 0px;
}

#TinhTp .select-TinhTp{
	width: 100%;
	height: 200px;
}
#TinhTp ul{
	list-style-type: none;
}

#TinhTp ul li{
	padding:5px;
	border-bottom: solid 1px #F7F9F8;
}
#TinhTp ul li:hover{
	padding:5px;
	border-bottom: solid 1px #F7F9F8;
	background-color: #F7F9F8;
}

#TinhTp ul li a{
	text-decoration: none;
	color: black;
	border: none;
	padding: 0px;
}

#TinhTp ul li a:hover{
	text-decoration: none;
	color: red;
}

#TinhTp .quality-placeTinhTp{
	float: right;
	color: #999;
}



#select-form{
	border-radius: 0px;
	padding: 0px;
}

#select-form .panel-body{
	padding: 2px;
}

#form-select .danhmuc{
	border-radius: 0px;
	padding: 0px;
	height: 250px;
}

#form-select .danhmuc .panel-body{
	overflow-y: scroll;
	max-height: 200px;
	width: 200px;
	padding: 0px;
}
#form-select .danhmuc ul{
	list-style-type: none;
}
#form-select .danhmuc ul li{
	border-bottom: solid 1px #F7F9F8;
	padding:5px;
} 
#form-select .danhmuc ul li a{
	text-decoration: none;
	border: none;
	color: black;
}
/*=============================SELECT TINH TP, DANH MUC=============================*/

/*=============================TIM KIEM=============================*/
#style-form-search{
	margin-top: 2px;
}
#txtsearch{
	border-radius: 0px;
    width: 300px;
}
/*=============================END TIM KIEM=============================*/

.slide-carousel{
	margin-top: -20px;
}

/*=============================TIMELINE=============================*/
.timeline-body p{
	text-align: justify;
}
.timeline-body .view-a{
	text-decoration: none;
}

/*=============================END TIMELINE=============================*/

/*=============================PLACE=============================*/
.thumbnail {
	border-radius: 0px; 
}
.caption a{
	font-weight: 100;
	color: black;
	text-decoration: none;
}
.caption .divide{
	border-top: 1px solid #848481;
	padding: 5px;
}
.caption .divide a{
	margin-right: 5px;
}
.caption .divide .point-place{
	color: #f4e842;
}
.caption .divide .view-place{
	color: #blue;
}
.caption .divide .comment-place{
	color: #757b87;
}
/*=============================END PLACE=============================*/

/*============================= FOOTER=============================*/
#footer-style{
	color: #ababab;
	background-color: #262626
}

#footer-style .container{
	padding: 25px 0px;
}

#footer-style .container h4{
	font-weight: 500;
	color: white;
}

#footer-style .container p{
	text-align: justify;
}

#footer-style .container a{
	color: white;
	padding: 5px;
}

.media img{
	max-height: 48px;
	max-width: 48px;
}
/*=============================END FOOTER=============================*/