/*==Reset CSS==*/
* {
  margin: 0;
  padding: 0;
}
 
/*==Style cơ bản cho website==*/
body {
  font-family: sans-serif;
  color: #333;
}
 
/*==Style cho menu===*/
#menu ul {
  background: #1F568B;
  list-style-type: none;
  text-align: center;
}
#menu li {
  color: #f1f1f1;
  display: inline-block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  margin-left: -5px;
}
#menu a {
  text-decoration: none;
  color: #fff;
  display: block;
}
#menu a:hover {
  background: #F1F1F1;
  color: #333;
}

/*==Dropdown Menu==*/
.sub-menu li {
  display: none;
}

#menu li {
 position: relative;
}
.sub-menu {
 display: none;
 position: absolute;
}

#menu li:hover .sub-menu {
 display: block;
}
.sub-menu li {
 margin-left: 0 !important;
}	

#form-search{
	width: 500px;
	height: 200px;
	background: #615f5fcf;
}

#form-search .check-type-search{
	padding: 10px;
}
#form-search .check-type-search label{
	padding-right: 5px;
}
#form-search .check-type-search input{
	padding-right: 5px;
	size: 15px;
}

